.addNoteCon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.addNoteInput {
  height: 50px;
  width: 60%;
  border: 2px solid var(--text-secondary);
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
  padding: var(--padding);
  margin: var(--margin);
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--bg);
  max-width: 1500px;
}

.addNoteInput:focus {
  outline: none;
}

.addNoteForm {
  margin: var(--margin);
  width: 60%;
  max-width: 1500px;
}

.addNoteBody {
  height: 200px;
}

@media (max-width: 600px) {
  .addNoteInput {
    width: 80%;
  }

  .addNoteForm {
    width: 80%;
  }
}
