.noteForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  border: 2px solid var(--text-primary);
  background-color: var(--bg);
}

.noteTitle {
  height: 50px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: var(--padding-xs);
  border: none;
  background-color: inherit;
}

.noteTitle:focus {
  outline: none;
}

.noteBody {
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: var(--padding-xs);
  resize: none;
  border: none;
  background-color: inherit;
}

.noteBody:focus {
  outline: none;
}

.noteSet {
  display: flex;
  width: 100%;
  gap: var(--gap-sm);
  padding-top: var(--padding-xs);
  justify-content: space-between;
  position: relative;
}

.btnsCon {
  display: flex;
  gap: var(--gap-sm);
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btnIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreOptionsIcon {
  width: 30px;
  height: 30px;
  padding: 0.5px;
  fill: var(--text-secondary);
}

.paletteCon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.paletteIcon {
  width: 33px;
  height: 33px;
  fill: var(--text-secondary);
}

.moreOptionsCon {
  left: 0px !important;
}
