.contentCon {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 6);
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  width: 100%;
}

.settingsCon {
  align-items: flex-start;
  padding: calc(var(--padding) * 3);
}

.settingsItem {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
}

.settingsItemCon {
  display: flex;
  gap: calc(var(--gap) * 2);
  align-items: center;
}

.settingsItemConName {
  flex-direction: column;
  align-items: flex-start;
}

.redirectCon {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 4);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.landingPageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.landingPageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.landingPageFooter a {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--text-secondary);
}

.landingPageCon {
  display: flex;
  height: 100%;
  gap: calc(var(--gap) * 3);
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  max-width: 1200px;
}

.landingPageSummary {
  display: flex;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--padding) * 5) calc(var(--padding) * 10);
  z-index: 20;
  position: relative;
  padding-right: calc(var(--padding) * 4);
  animation-name: fadeInFromLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--gap) * 5);
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.actionBtn {
  padding: 15px 30px;
  border-radius: calc(var(--border-radius) * 4);
}

.landingPageSummary span:first-of-type mark {
  background-color: var(--highlight-1);
}

.landingPageSummary span:nth-of-type(2) mark {
  background-color: var(--highlight-3);
}

.landingPageHero {
  padding: calc(var(--padding) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: calc(var(--padding) * 10);
  animation-name: fadeInFromRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.heroCTA {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: calc(var(--gap) * 4);
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50%;
}

.topRow {
  align-items: flex-end;
}

.bottomRow {
  align-items: flex-start;
}

.heroItem {
  aspect-ratio: 1;
  width: 100%;
  min-width: 175px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  gap: calc(var(--gap) * 2);
  padding: 35px;
}

.rectangle {
  background-color: var(--highlight-3);
  border-radius: 10px 40% 0 40%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 1;
}

.circle {
  background-color: var(--highlight-1);
  border-radius: 100%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 1;
}

.drop {
  background-color: var(--highlight-2);
  border-radius: 0 100% 100% 100%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 0;
}

.phone {
  position: relative;
}

.blobImage {
  position: absolute;
  z-index: 0;
  bottom: -50px;
  filter: blur(100px);
}

.phone img {
  width: 145px;
  z-index: 1;
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 10px;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  transform: rotate(-10deg);
  animation-name: bounceAnimation;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.scrollToHero {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--scroll-btn);
  border: none;
  color: var(--text-secondary);
  z-index: 2;
  gap: calc(var(--gap) * 4);
  padding: calc(var(--padding) * 2);
  width: 100%;
  border-radius: calc(var(--border-radius) * 20);
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.icon {
  width: 30px;
  height: auto;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  0% {
    padding-left: calc(var(--padding) * 5);
  }
  100% {
    padding-left: calc(var(--padding) * 10);
  }
}

@keyframes fadeInFromRight {
  0% {
    padding-right: calc(var(--padding) * 5);
  }
  100% {
    padding-right: calc(var(--padding) * 10);
  }
}

@keyframes bounceAnimation {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: rotate(-10deg) scale(1);
  }
}

@media (hover: hover) {
  .scrollToHero:hover {
    cursor: pointer;
  }
}
@media (max-width: 1000px) {
  .landingPageCon {
    flex-direction: column;
    gap: calc(var(--gap) * 10);
  }

  .landingPageWrapper {
    gap: calc(var(--gap) * 10);
    height: auto;
  }

  .landingPageFooter {
    border-top: 1px solid var(--text-secondary);
  }

  .landingPageSummary {
    min-height: calc(100dvh - 85px);
    max-width: 100%;
    justify-content: space-between;
    animation: none;
    padding: calc(var(--padding) * 5);
  }

  .landingPageHero {
    padding: calc(var(--padding) * 2);
    min-height: 100dvh;
    justify-content: space-evenly;
    gap: calc(var(--gap) * 30);
    animation: none;
  }

  .textContent {
    padding-left: calc(var(--padding) * 6);
  }

  .scrollToHero {
    display: flex;
  }

  .landingPageCon {
    height: fit-content;
  }

  .heroCTA {
    display: flex;
  }
}

@media (max-width: 600px) {
  .landingPageSummary {
    padding: calc(var(--padding) * 4);
    padding-top: calc(var(--padding) * 6);
  }

  .landingPageHero {
    height: fit-content;
  }

  .heroContent {
    gap: calc(var(--gap) * 4);
  }

  .textContent {
    padding-left: 0;
  }

  .topRow {
    flex-direction: column;
    gap: calc(var(--gap) * 4);
    justify-content: flex-end;
  }

  .bottomRow {
    flex-direction: column-reverse;
    gap: calc(var(--gap) * 4);
  }

  .heroItem {
    aspect-ratio: auto;
    max-width: 100%;
    padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
  }

  .rectangle {
    border-radius: 10px 50px 0 50px;
    min-height: 200px;
  }

  .circle {
    border-radius: 200px;
    min-height: 200px;
  }

  .drop {
    border-radius: 0 100px 100px 100px;
    min-height: 200px;
  }

  .phone {
    height: 250px;
  }

  .blobImage {
    bottom: -200px;
    width: 100%;
    filter: blur(50px);
  }
}

@media (max-width: 350px) {
  .landingPageSummary {
    padding: calc(var(--padding) * 3);
    padding-bottom: 10px;
  }

  .textContent {
    gap: 10px;
  }

  .scrollToHero {
    padding: 10px;
  }

  .icon {
    width: 25px;
  }
}
