.btn {
  border: 2px solid var(--text-secondary);
  background-color: var(--text-secondary);
  color: var(--bg);
}

@media (hover: hover) {
  .btn:hover {
    color: var(--text-secondary) !important;
  }

  .buttonNotePrimary:hover {
    background-color: transparent;
  }

  .buttonPrimary:hover {
    background-color: var(--bg);
  }
}
