.addUserIcon {
  width: 30px;
  height: 30px;
  fill: var(--text-secondary);
  margin-top: var(--margin-sm);
}

.addUserIcon path {
  fill: var(--text-secondary);
}

.userIconCon {
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  padding: 8px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  width: 23px;
  height: 23px;
  fill: var(--text-secondary);
}

.userIcon path {
  fill: var(--text-secondary);
}

.addUserCon {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: var(--gap-sm);
  width: 100%;
}

.collabCon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  gap: var(--gap-xs);
  max-height: 250px;
  overflow-y: scroll;
  border: 2px solid var(--text-secondary);
  border-radius: var(--border-radius-sm);
  padding: var(--padding-xs);
}

.collabItem {
  display: flex;
  gap: var(--gap-sm);
  justify-content: center;
  align-items: center;
}
