.header {
  padding: calc(var(--padding) * 2);
  background-color: var(--bg);
  gap: var(--gap);
  align-items: center;
  border-bottom: 1.5px solid var(--text-secondary);
  width: 100%;
  height: auto;
  max-height: 95px;
  background-color: var(--bg);
  z-index: 3;
}

.generalHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.landingPageHeader {
  display: flex;
  justify-content: space-between;
}

.navBtnsContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: calc(var(--gap) * 2);
  justify-content: center;
  align-items: center;
}

.navBtnsContainer a {
  min-width: 100px;
  width: fit-content;
}

.setCon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--gap) * 4);
}

.buttonAccount {
  padding: 8px;
  border: 2px solid var(--text-secondary);
  background-color: var(--bg);
  display: flex;
}

.accountIcon {
  width: 30px;
  height: 30px;
  fill: var(--text-secondary);
}

.accountIcon path {
  fill: var(--text-secondary);
}

.signInIcon {
  display: none;
  width: 35px;
  height: auto;
  fill: var(--text-primary);
  stroke: var(--bg);
  transform: rotate(180deg);
}

.signInBtn span {
  display: auto;
}

@media (hover: hover) {
  .buttonAccount:hover .accountIcon path {
    fill: var(--bg);
  }

  .buttonAccount:hover {
    background-color: var(--text-secondary);
  }

  .signInBtn:hover .signInIcon {
    fill: var(--bg);
    stroke: var(--text-primary);
  }
}

@media (max-width: 600px) {
  .header {
    grid-template-columns: 1fr 7fr 1fr;
  }

  .setCon {
    gap: calc(var(--gap) * 2);
  }
}

@media (max-width: 350px) {
  .signInIcon {
    display: block;
  }

  .signInBtn {
    min-width: 0 !important;
    padding: 5px;
  }

  .signInBtn span {
    display: none;
  }
}
