/* general */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.disabledLink {
  pointer-events: none;
}

.divider {
  border: 1px solid var(--border);
  width: 100%;
  max-width: 500px;
}

.generalInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 2);
  padding: var(--padding);
  border: 2px solid var(--border);
  border-radius: calc(var(--border-radius) * 5);
  height: fit-content;
  background-color: var(--bg);
  color: var(--text-secondary);
}

.generalInput:focus {
  outline: none;
}

/* buttons */

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: var(--padding);
  border-radius: calc(var(--border-radius) * 2);
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  width: fit-content;
}

.buttonNotePrimary {
  border: 1.5px solid var(--text-primary);
  background-color: var(--text-primary);
}

.buttonNoteSecondary {
  border: 1.5px solid transparent !important;
  color: var(--text-primary);
}

.buttonPrimary {
  border: 1.5px solid var(--text-secondary);
  background-color: var(--text-secondary);
  color: var(--bg);
}

.buttonSecondary {
  border: 1.5px solid transparent !important;
  color: var(--text-secondary);
  background-color: var(--bg);
}

.buttonDanger {
  border: 1.5px solid var(--danger);
  background-color: var(--danger);
  color: var(--lightest);
}

.btnDisabled {
  cursor: default;
  pointer-events: none;
}

@media (hover: hover) {
  .btn:hover {
    cursor: pointer;
  }

  .buttonNotePrimary:hover {
    background-color: transparent;
    color: var(--text-primary) !important;
  }

  .buttonNoteSecondary:hover {
    border: 1.5px solid var(--text-primary) !important;
  }

  .buttonPrimary:hover {
    background-color: var(--bg);
    color: var(--text-secondary);
  }

  .buttonSecondary:hover {
    border: 1.5px solid var(--text-secondary) !important;
  }

  .buttonDanger:hover {
    background-color: var(--lightest);
    color: var(--text-primary);
  }

  .btnDisabled:hover {
    cursor: default;
    pointer-events: none;
  }
}

/* text styles */

.titleText {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--text-secondary);
  white-space: nowrap;
}

.normalText {
  color: var(--text-secondary);
  font-weight: 300;
}

.secondaryTitleText {
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-secondary);
}

/* modals */

.loadingModal {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.confModalContainer {
  position: fixed;
  inset: 0;
  background-color: var(--bg-transparent);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.confModal {
  margin: auto;
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: calc(var(--padding) * 2);
  background-color: var(--bg);
  color: var(--text-secondary);
  position: fixed;
  inset: 0;
}

.confModalBtnsCon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(var(--gap) * 2);
}
