.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: var(--padding);
  border-radius: calc(var(--border-radius) * 2);
  transition: 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.generalInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 2);
  padding: var(--padding);
  border: 2px solid var(--border);
  border-radius: calc(var(--border-radius) * 5);
  margin: 0 10px;
  height: fit-content;
}

.generalInput:focus {
  outline: none;
}

.buttonPrimary {
  border: 1.5px solid var(--text-primary);
  background-color: var(--text-primary);
}

.buttonSecondary {
  border: 1.5px solid transparent !important;
  color: var(--text-secondary);
  background-color: var(--bg);
  white-space: nowrap;
}

.buttonSubmit {
  color: var(--bg);
  width: fit-content;
}

@media (hover: hover) {
  .buttonSecondary:hover {
    border: 1.5px solid var(--text-secondary) !important;
  }

  .buttonPrimary:hover {
    background-color: transparent;
    color: var(--text-primary) !important;
  }
}

.titleText {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--text-secondary);
}

.loadingModal {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.disabledLink {
  pointer-events: none;
}
