.notesConEmpty {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
  display: flex;
  justify-content: center;
}

.notesContainer {
  padding: calc(var(--padding) * 2);
  display: flex;
  justify-content: center;
  width: 100%;
}

.notesContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 4);
}

.noteGridCon {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: calc(var(--gap) * 3);
  max-width: 1500px;
  width: 100%;
  justify-content: center;
}

.noteListCon {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1500px;
  width: 90%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
}

.noteCard {
  border: 2px solid var(--text-secondary);
  background-color: var(--bg);
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
  height: fit-content;
  border-radius: calc(var(--border-radius) * 2);
  padding: var(--padding);
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  line-height: 20px;
}

.noteTitle {
  min-height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}

.noteBody {
  height: fit-content;
  min-height: 50px;
  max-height: 120px;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}

@media (max-width: 600px) {
  .noteGridCon {
    grid-template-columns: repeat(2, 48%);
  }

  .notesContainer {
    padding: var(--padding);
  }
}
