.notesContainer {
  padding: var(--padding-sm);
  display: flex;
  justify-content: center;
  width: 100%;
}

.notesContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.noteGridCon {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: var(--gap-sm);
  max-width: 1500px;
  width: 100%;
  justify-content: center;
}

.noteListCon {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1500px;
  width: 90%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

@media (max-width: 600px) {
  .noteGridCon {
    grid-template-columns: repeat(2, 48%);
  }

  .notesContainer {
    padding: var(--padding-xs);
  }
}
