/* general */

.landingPageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.landingPageCon {
  display: flex;
  height: 100%;
  gap: var(--gap-sm);
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  max-width: 1200px;
}

.actionBtn {
  padding: 15px 30px;
  border-radius: var(--border-radius-md);
}

/* summary */

.landingPageSummary {
  display: flex;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-md) var(--padding-xl);
  z-index: 20;
  position: relative;
  padding-right: var(--padding-md);
  animation-name: fadeInFromLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.landingPageSummary span:first-of-type mark {
  background-color: var(--highlight-3);
}

.textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-md);
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.titleTextContent {
  display: flex;
  flex-direction: column;
}

.titleTextContent div:nth-of-type(1) span {
  background-color: var(--highlight-1);
  animation-name: highlightAnimation;
  animation-duration: 10000ms;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.titleTextContent div:nth-of-type(3) span {
  background-color: var(--highlight-2);
  animation-name: highlightAnimation;
  animation-duration: 10000ms;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.titleText {
  padding: 0;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleText span {
  padding: 0;
  width: 0%;
  height: 100%;
}

.scrollToHero {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--scroll-btn);
  border: none;
  color: var(--text-secondary);
  z-index: 2;
  gap: var(--gap-md);
  padding: var(--padding-sm);
  width: 100%;
  border-radius: var(--border-radius-xl);
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.arrowIcon {
  width: 30px;
  height: auto;
}

/* hero */

.landingPageHero {
  padding: var(--padding-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: var(--padding-xl);
  animation-name: fadeInFromRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-name: fadeInAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50%;
}

.topRow {
  align-items: flex-end;
}

.bottomRow {
  align-items: flex-start;
}

.heroItem {
  aspect-ratio: 1;
  width: 100%;
  min-width: 175px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  gap: var(--gap-sm);
  padding: 35px;
}

.rectangle {
  background-color: var(--highlight-3);
  border-radius: 10px 40% 0 40%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 1;
}

.circle {
  background-color: var(--highlight-1);
  border-radius: 100%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 1;
}

.drop {
  background-color: var(--highlight-2);
  border-radius: 0 100% 100% 100%;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  z-index: 0;
}

.phone {
  position: relative;
}

.blobImage {
  position: absolute;
  z-index: 0;
  bottom: -50px;
  filter: blur(100px);
}

.phone img {
  width: 145px;
  z-index: 1;
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 10px;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
  transform: rotate(-10deg);
  animation-name: bounceAnimation;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.heroCTA {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: var(--gap-md);
}

/* footer */

.landingPageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.landingPageFooter a {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--text-secondary);
}

/* animations */

@keyframes highlightAnimation {
  0% {
    width: 0%;
  }
  10% {
    width: 100%;
  }
  40% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  0% {
    padding-left: var(--padding-md);
  }
  100% {
    padding-left: var(--padding-xl);
  }
}

@keyframes fadeInFromRight {
  0% {
    padding-right: var(--padding-md);
  }
  100% {
    padding-right: var(--padding-xl);
  }
}

@keyframes bounceAnimation {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: rotate(-10deg) scale(1);
  }
}

/* media */

@media (max-width: 1000px) {
  .landingPageCon {
    flex-direction: column;
    gap: var(--gap-xl);
  }

  .landingPageWrapper {
    gap: var(--gap-xl);
    height: auto;
  }

  .landingPageFooter {
    border-top: 1px solid var(--text-secondary);
  }

  .landingPageSummary {
    min-height: calc(100dvh - 85px);
    max-width: 100%;
    justify-content: space-between;
    animation: none;
    padding: var(--padding-md);
  }

  .landingPageHero {
    padding: var(--padding-sm);
    min-height: 100dvh;
    justify-content: space-evenly;
    gap: var(--gap-xxl);
    animation: none;
  }

  .textContent {
    padding-left: var(--padding-md);
  }

  .scrollToHero {
    display: flex;
  }

  .landingPageCon {
    height: fit-content;
  }

  .heroCTA {
    display: flex;
  }
}

@media (hover: hover) {
  .scrollToHero:hover {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .landingPageSummary {
    padding: var(--padding-md);
    padding-top: var(--padding-md);
  }

  .landingPageHero {
    height: fit-content;
  }

  .heroContent {
    gap: var(--gap-md);
  }

  .textContent {
    padding-left: 0;
  }

  .topRow {
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: flex-end;
  }

  .bottomRow {
    flex-direction: column-reverse;
    gap: var(--gap-md);
  }

  .heroItem {
    aspect-ratio: auto;
    max-width: 100%;
    padding: var(--padding-sm) var(--padding-md);
  }

  .rectangle {
    border-radius: 10px 50px 0 50px;
    min-height: 200px;
  }

  .circle {
    border-radius: 200px;
    min-height: 200px;
  }

  .drop {
    border-radius: 0 100px 100px 100px;
    min-height: 200px;
  }

  .phone {
    height: 250px;
  }

  .blobImage {
    bottom: -200px;
    width: 100%;
    filter: blur(50px);
  }
}

@media (max-width: 350px) {
  .landingPageSummary {
    padding: var(--padding-sm);
  }

  .textContent {
    gap: 20px;
  }

  .scrollToHero {
    padding: 10px;
  }

  .arrowIcon {
    width: 25px;
  }
  .actionBtn {
    padding: 10px 20px;
    border-radius: var(--border-radius-sm);
  }
}
