.formContainer {
  display: flex;
  gap: var(--gap-sm);
  flex-direction: column;
  align-items: flex-start;
}

.redirectCon {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageContentContainer {
  max-width: 600px;
}
