.moreOptionsCon {
  background-color: var(--bg);
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
  padding: var(--padding) calc(var(--padding) * 2);
  bottom: 45px;
  left: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap);
  max-width: 220px;
  min-width: 100px;
  width: fit-content;
  height: fit-content;
  border: 1.5px solid var(--text-secondary);
  background-color: var(--bg);
}

.moreOptionsItem {
  display: flex;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trashIcon {
  width: 30px;
  height: 30px;
  fill: var(--text-secondary);
  padding: 0.5px;
}
