@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

:root {
  --text-primary: #38312e;
  --text-secondary: #38312e;
  --bg: #fff;
  --lightest: #fff;
  --danger: #f34030;
  --bg-transparent: rgba(95, 95, 97, 0.5);
  --border: #ececec;
  --padding: 10px;
  --margin: 10px;
  --gap: 5px;
  --border-radius: 5px;
  --error-bg: #fab2ab;
  --success-bg: #ccff90;
  --highlight-1: #ffeda3;
  --highlight-2: #dbffb3;
  --highlight-3: #cbdcfb;
  --scroll-btn: #e2c5fc;
}

[data-theme="dark"] {
  --bg: #38312e;
  --text-secondary: #fff;
  --error-bg: #38312e;
  --success-bg: #38312e;
  --danger: #f67165;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
  font-weight: 300;
  background-color: var(--bg);
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
}
