@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

:root {
  --text-primary: #38312e;
  --text-secondary: #38312e;
  --bg: #fff;
  --lightest: #fff;
  --danger: #e60000;
  --bg-transparent: rgba(95, 95, 97, 0.5);
  --border: #ececec;
  --padding: 10px;
  --margin: 10px;
  --gap: 5px;
  --border-radius: 5px;
}

[data-theme="dark"] {
  --bg: #38312e;
  --text-secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
  font-weight: 300;
  background-color: var(--bg);
  position: relative;
  overflow: auto;
}

a {
  text-decoration: none;
}
