.editNoteCon {
  position: fixed;
  inset: 0;
  background-color: var(--bg-transparent);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.editNoteForm {
  margin: auto;
  background-color: var(--bg);
  width: 80%;
}

.editNoteBody {
  height: 300px;
}

.editNoteSet {
  justify-content: space-between;
}

.btnsCon {
  display: flex;
  gap: calc(var(--gap) * 2);
  justify-content: center;
  align-items: center;
}

.btnDelete {
  background-color: var(--bg);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIcon {
  width: 30px;
  height: 30px;
}
