.editNoteCon {
  position: fixed;
  inset: 0;
  background-color: var(--bg-transparent);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.editNoteForm {
  margin: auto;
  width: 80%;
}

.editNoteBody {
  height: 300px;
}
