.editNoteCon {
  position: fixed;
  inset: 0;
  background-color: var(--bg-transparent);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

.editNoteForm {
  margin: auto;
  width: 90%;
  min-width: 250px;
  max-width: 1000px;
}

.editNoteBody {
  height: 300px;
}
