.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: var(--padding);
  border-radius: calc(var(--border-radius) * 2);
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:disabled {
  cursor: default;
  pointer-events: none;
}

.buttonDanger {
  border: 2px solid var(--danger) !important;
  background-color: var(--danger) !important;
  color: var(--lightest) !important;
}

@media (hover: hover) {
  .btn:hover {
    cursor: pointer;
  }

  .buttonDanger:hover {
    background-color: var(--lightest) !important;
    color: var(--text-primary) !important;
  }
}
