.wrapper {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
  font-weight: 300;
  background-color: var(--bg);
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.hide {
  display: none;
}

.shadow {
  box-shadow: 3px 3px 0px 0px var(--text-secondary);
}

.divider {
  border: 1px solid var(--border);
  width: 100%;
  max-width: 500px;
}

.pageContentContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 6);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 25px;
}
