@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

:root {
  --text-primary: #38312e;
  --text-secondary: #38312e;
  --bg: #fff;
  --lightest: #fff;
  --danger: #e7200d;
  --bg-transparent: rgba(95, 95, 97, 0.5);
  --border: #ececec;
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-md: 50px;
  --padding-xl: 100px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-lg: 30px;
  --gap-xl: 50px;
  --gap-xxl: 150px;
  --border-radius-xs: 5px;
  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 25px;
  --border-radius-xl: 100px;
  --error-bg: #fab2ab;
  --success-bg: #ccff90;
  --highlight-1: #ffeda3;
  --highlight-2: #dbffb3;
  --highlight-3: #cbdcfb;
  --scroll-btn: #e2c5fc;
  --placeholder-text: #635f5f;
}

[data-theme="dark"] {
  --bg: #38312e;
  --text-secondary: #fff;
  --error-bg: #38312e;
  --success-bg: #38312e;
  --danger: #f67165;
  --placeholder-text: #9e9b9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

::placeholder {
  color: var(--placeholder-text);
  opacity: 1;
}
