.dropdownCon {
  background-color: var(--bg);
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
  padding: var(--padding);
  right: 20px;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  max-width: 320px;
  min-width: 200px;
  width: 90%;
  height: fit-content;
  border: 2px solid var(--border);
}

.dropdownItemCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
}

.dropdownItem {
  color: var(--text-secondary);
  background-color: var(--bg);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500 !important;
  padding: var(--padding);
  border: none;
}

.emailText {
  color: var(--text-secondary);
}
