.loadingModal {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loadingIcon {
  fill: var(--text-secondary);
  width: 40px;
  height: 40px;
}

.loadingAnimation {
  animation-name: loading-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
